<h2>Form for adding a movie</h2>
<div class="container">
  <form (ngSubmit)="onSubmit(movieForm)" #movieForm="ngForm" class="inputGroup">
    <div class="movie-details">
      <label>Movie name</label>
      <input type="text" required placeholder="type movie name" name="movieName" [(ngModel)]="movie.movieName">
    </div>
    <div class="movie-details">
      <label>Duration</label>
      <input type="number" required placeholder="type duration" name="duration" [(ngModel)]="movie.duration">
    </div>
    <div class="movie-details">
      <label>Is movie for adult audience?</label>
      <input type="checkbox" name="forAdults" [(ngModel)]="movie.forAdults">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

