<h2>Form for adding a screening</h2>
<div class="container">
  <form (ngSubmit)="onSubmit(screeningForm)" #screeningForm="ngForm" class="inputGroup">
    <div class="screening-details" id="movie-choice">
        <label>Select movie</label>
        <select name="movieId" [(ngModel)]="screening.movieId">
          <option *ngFor="let movie of moviesList" [ngValue]="movie.movieId">{{ movie.movieName }}</option>
        </select>
    </div>
    <div class="screening-details">
      <label>Select date</label>
      <input type="datetime-local" required placeholder="type screening date" name="date" [(ngModel)]="screening.date">
    </div>
    <div class="screening-details">
      <label>Select auditorium</label>
      <input type="number" value="1" min="1" max="1" required placeholder="screening's auditorium" name="auditoriumId" [(ngModel)]="screening.auditoriumId">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
<!--<p>{{screening.movieId}}</p>
<p>{{screening.date}}</p>
<p>{{screening.auditoriumId}}</p>-->


<!--<form (ngSubmit)="onSubmit(screeningForm)" #screeningForm="ngForm">
  <div>
    <mat-form-field>
      <mat-label>Select movie</mat-label>
      <mat-select name="movieId" [(ngModel)]="screening.movieId">
        <mat-option *ngFor="let movie of moviesList" [value]="movie">
          {{ movie.movieName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  &lt;!&ndash;  <p>you selected movie with id: {{selectedMovie?.movieName}}</p>&ndash;&gt;

  <div>
    <mat-form-field>
      <mat-label>Select date and time</mat-label>
      <input matInput type="datetime-local" placeholder="start date" name="date" [(ngModel)]="screening.date">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Select auditorium</mat-label>
      <input matInput value="1" type="number" name="auditoriumId" [(ngModel)]="screening.auditoriumId">
    </mat-form-field>
  </div>

  <button type="submit">Submit</button>

</form>-->

<!--<form [formGroup]="screeningForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <mat-label>Select movie</mat-label>
      <mat-select formControlName="movieId">
        <mat-option *ngFor="let movie of moviesList" [value]="movie.movieId">
          {{ movie.movieName }}
        </mat-option>
      </mat-select>
&lt;!&ndash;      <mat-error *ngIf="screeningForm.get('movieId').hasError('required')">Movie is required</mat-error>&ndash;&gt;
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Select date and time</mat-label>
      <input matInput [matDatetimepicker]="picker" formControlName="date" placeholder="start date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datetimepicker #picker></mat-datetimepicker>
&lt;!&ndash;      <mat-error *ngIf="screeningForm.get('date').hasError('required')">Date and time are required</mat-error>&ndash;&gt;
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Select auditorium</mat-label>
      <input matInput type="number" formControlName="auditoriumId">
&lt;!&ndash;      <mat-error *ngIf="screeningForm.get('auditoriumId').hasError('required')">Auditorium is required</mat-error>&ndash;&gt;
    </mat-form-field>
  </div>

  <button type="submit" [disabled]="!screeningForm.valid">Submit</button>
</form>-->






