<div id="screening-container">
  <button (click)="redirectToAddMovieForm()">Add movie</button>
  <div *ngFor="let screening of screeningsList" class="screening-card">
    <h3>{{ screening.movieName }}</h3>
    <p>Date: <span>{{ screening.date | date: 'dd-MM-yyyy' }}</span></p>
    <p>Time: <span>{{ screening.date | date: 'HH:mm'}}</span></p>
    <p>Auditorium: <span>{{ screening.auditoriumName }}</span></p>
    <button class="btn-buy-ticket" id="{{screening.screeningId}}" (click)="redirectToSeatChoice(screening.screeningId)">BUY TICKET</button>
  </div>
</div>
