<div class="container">
  <h2>Choose your seat for movie</h2>
  <h1 *ngIf="screeningDto">{{screeningDto.movie.movieName}}</h1>
  <div class="auditorium">
    <ol>
      <li class="row row--1">
        <ol class="seats">
          <ng-container *ngFor="let seat of screeningDto.seats">
            <li *ngIf="seat.row === '1'" class="seat">
              <input type="checkbox" id="{{seat.row}}{{seat.seatNo}}" [disabled]="isSeatUnavailable(seat)"/>
              <label class="seat-label" for="{{seat.row}}{{seat.seatNo}}">{{seat.row}}{{seat.seatNo}}</label>
            </li>
          </ng-container>
        </ol>
      </li>

      <li class="row row--2">
        <ol class="seats">
          <ng-container *ngFor="let seat of screeningDto.seats">
            <li *ngIf="seat.row === '2'" class="seat">
              <input type="checkbox" id="{{seat.row}}{{seat.seatNo}}" [disabled]="isSeatUnavailable(seat)" />
              <label class="seat-label" for="{{seat.row}}{{seat.seatNo}}">{{seat.row}}{{seat.seatNo}}</label>
            </li>
          </ng-container>
        </ol>
      </li>

      <li class="row row--3">
        <ol class="seats">
          <ng-container *ngFor="let seat of screeningDto.seats">
            <li *ngIf="seat.row === '3'" class="seat">
              <input type="checkbox" id="{{seat.row}}{{seat.seatNo}}" [disabled]="isSeatUnavailable(seat)"/>
              <label class="seat-label" for="{{seat.row}}{{seat.seatNo}}">{{seat.row}}{{seat.seatNo}}</label>
            </li>
          </ng-container>
        </ol>
      </li>
    </ol>
  </div>
  <div class="form-choice">
    I'm buying as:
    <input type="radio" name="userType" (click)="changeForm()" value="true" checked /> Private User
    <input type="radio" name="userType" (click)="changeForm()" value="false" /> Company
  </div>
  <div class="instr">
    <p>Enter your personal details</p>
  </div>

  <form *ngIf="showPrivateUserForm" id="ticketForm" class="inputGroup">
    <div id="userName" class="personal-details">
      <input type="text"  name="userName" required placeholder="enter your name">
    </div>
    <div id="userSurname" class="personal-details">
      <input type="text" name="userSurname" required placeholder="enter your surname">
    </div>
    <!--<div id="userEmail" class="personal-details">
      <input type="text" name="userEmail" required placeholder="enter your email">
    </div>
    <div id="userPhoneNumber" class="personal-details">
      <input type="text" name="userPhoneNumber" required placeholder="enter your phone number">
    </div>
    <div id="userCity" class="personal-details">
      <input type="text" name="userSurname" required placeholder="enter your city">
    </div>
    <div id="userHouseNumber" class="personal-details">
      <input type="text" name="userSurname" required placeholder="enter your house number">
    </div>
    <div id="userPostcode" class="personal-details">
      <input type="text" name="userSurname" required placeholder="enter your post code">
    </div>-->
  </form>
  <form *ngIf="!showPrivateUserForm" id="ticketCompanyForm" class="inputGroup">
    <div id="companyUserName" class="personal-details">
      <input type="text"  name="userName" required placeholder="enter your name">
    </div>
    <div id="companyUserSurname" class="personal-details">
      <input type="text" name="userSurname" required placeholder="enter your surname">
    </div>
    <div id="companyName" class="personal-details">
      <input type="text"  name="userName" required placeholder="enter your company's name">
    </div>
    <div id="companyNIP" class="personal-details">
      <input type="text"  name="userName" required placeholder="enter your company's name">
    </div>
    <div id="companyCity" class="personal-details">
      <input type="text"  name="userName" required placeholder="enter your company's name">
    </div>
    <div id="companyStreet" class="personal-details">
      <input type="text"  name="userName" required placeholder="enter your company's name">
    </div>
    <div id="companyStreetNumber" class="personal-details">
      <input type="text"  name="userName" required placeholder="enter your company's name">
    </div>
    <div id="companyPostcode" class="personal-details">
      <input type="text"  name="userName" required placeholder="enter your company's name">
    </div>
    <div id="companyIndustry" class="personal-details">
<!--      <label for="companyIndustry">Industry</label>-->
      <select name="industry">
        <option selected disabled hidden>Industry</option>
        <option>Information Technology</option>
        <option>Finance & Accounting</option>
        <option>Engineering</option>
      </select>
    </div>
  </form>

  <button type="button" id="reserveTicketButton">Reserve Ticket</button>

</div>
